---
groups:
  - name: disk_space_alerts
    rules:
      - alert: DiskUsageHigh
        expr: node_filesystem_avail_bytes{mountpoint="/"} / node_filesystem_size_bytes{mountpoint="/"} * 100 < 30
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: "Disk space usage is high"
          description: "Less than 30% disk space is available on the server."

      - alert: DiskUsageCritical
        expr: node_filesystem_avail_bytes{mountpoint="/"} / node_filesystem_size_bytes{mountpoint="/"} * 100 < 10
        for: 2m
        labels:
          severity: critical
        annotations:
          summary: "Disk space critically low"
          description: "Less than 10% disk space is available on the server."