---
[server]
http_port = 3000
domain = localhost
root_url = %(protocol)s://%(domain)s:%(http_port)s/

enable_gzip = true

disable_gravatar = false

[security]
admin_user = admin
admin_password = admin
auto_assign_org = true

default_theme = dark
