[defaults]
inventory = inventory
remote_user = vagrant
ask_pass = false
host_key_checking = false
timeout = 30
log_path = ansible.log
# allow_world_readable_tmpfiles=true
remote_tmp=/tmp/ansible
roles_path = ~/.ansible/roles:./roles

[privilege_escalation]
become = true
become_method = sudo
become_ask_pass = false